/*通用css样式*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Verdana, Arial, '微软雅黑','宋体';
	background-color: #DEDEDE;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
.section_box{
	width: 95%;
	height: auto;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
}

.title-1{
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0;
}
.title-2{
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0;
	color: #999;
}
.title-3{
	font-size: 12px;
	font-weight: bold;
	margin: 15px 0;
	color: #999;
}
/*通用css样式结束*/


#header{
	height: 60px;
	background-color: #333333;
}
.header_logo{
	width: 120px;
	height: 60px;
	line-height: 60px;
	margin-left: 45px;
	background: url(http://box.bdimg.com/static/fisp_static/common/img/searchbox/logo_news_276_88_1f9876a.png) center no-repeat;
	background-size: 115px 40px;
	float: left;
}
.header_nav{
	float: right;
	line-height: 60px;
}
.header_nav ul li{
	float: left;
	padding-right: 20px;
	list-style: disc;
	font-size: 12px;
}
.header_nav ul li a{
	text-decoration: none;
	color: #fff;
}
.header_nav ul li.header_nav-active a{
	color: #959597;
}
.section_1 p,.section_2 p{
	text-indent: 2em;
	line-height: 1.8em;
}
.section_1 img,.section_2 img{
	margin: 10px 0;
}
.section_2 ul li{
	padding: 5px 20px;
	list-style: none;
}
.section_3-photobox{
	width: 125px;
	height: 125px;
	border: 1px solid #ccc;
	text-align: center;
	margin: 10px 40px;
}
.section_3-title{
	font-size: 12px;
	margin: 10px 0;
}
.section_3-photo{
	width: 80px;
	height: 80px;
}
.section_4 li{
	margin: 8px 40px;
}
.section_4 table{
	width: 100%;
	border:1px solid #ccc;
	border-collapse: collapse;
	text-align: left;
}
.section_4 table caption{
	text-align: left;
}
.section_4 table th,.section_4 table td{
	font-size: 14px;
	padding: 5px;
}
.section_4 table th{
	background-color: #333333;
	color: #fff;
}
.section_4 table td{
	border-color: #ccc;
}
.list_sum{
	background-color: #ccc;
	font-weight: bold;
}
.section_5{
	position: relative;
	font-size: 14px;
}
.section_5 h2{
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	margin: 25px 20px;
}
.section_5 h2::before{
	content: url(../img/task-2/photo.png);
	margin-right: 20px;
	position: absolute;
	top:35px;
	left: 20px;
}
.section_5 form{
	padding-left:20%;
}
.section_5 form span{
	display: inline-block;
	width: 150px;
	text-align: right;
	margin-right: 15px;
}
.section_5 form p{
	color: #999;
	margin-left: 170px;
}
.section_5 form div{
	margin: 10px 0;
}

.section_5-text{
	position: relative;
}
.section_5-text span{
	position: absolute;
	top:0px;
}
.section_5-text textarea{
	margin-left: 170px;
}
.section_5-buttom{
	width: 120%;
	height: 40px;
	background-color: #3355D0;
	border-radius: 10px;
	border: none;
	margin-left: -22%;
	color: #fff;
	font-size: 16px;
}
.footer{
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	text-align: center;
}